.container{
    border: 1px solid rgb(231, 218, 218);
    width: 100% auto;
    height: 100%;
    margin: 15px;
    padding: 10px;
}

.heading{
    margin-top: 5px;
    color: gray;
}

.label{
    color: rgb(146, 143, 143);
    font-weight: 600;
}

.input{
    display: block;
    border: 1px solid rgb(231, 218, 218);
    border-radius: 5px;
    width: 47%;
    padding: 8px;
    margin-top: 10px;
}

.btnb{
    background-color:whitesmoke;
    border: 1px solid whitesmoke;
    color: rgb(108, 110, 112);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 15px;
    margin-right: 20px auto;
    border-radius: 3px;   
    font-weight: 700; 
}

.btns{
    background-color:rgb(29, 123, 218);
    border: 1px solid rgb(29, 123, 218);
    color: whitesmoke;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 15px;
    margin-right: 20px auto;
    border-radius: 3px;   
    font-weight: 500; 
}